@import "@fontsource/bangers";
@import "@fontsource/comic-neue/300.css";
@import "@fontsource/comic-neue/400.css";
@import "@fontsource/comic-neue/700.css";

@import "tailwindcss";

@theme {
  --font-display: "Bangers", "sans-serif";
  --font-sans: "Comic Neue", "sans-serif";
}

body {
  font-family: var(--font-sans);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 40rem var(--color-green-100) inset;
}
